:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
body {
  padding: 1rem 2rem;
  min-height: 100vh;
}

a {
  color: inherit;
  /* text-decoration: none; */
}
a:hover {
  color: rgb(0, 106, 255);
}

#attribution {
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 10px;
  font-weight: 400;
  text-decoration: none;
  color: gray;
}
#attribution:hover {
text-decoration: underline;
}

#titleContainer {
  text-align: left;
  perspective: 500px;
  display: inline-block;
}
#title {
  font-size: 50px;
  font-weight: 700;
  transition: transform 2s ease-in-out;
  transform-origin: left;
  cursor: pointer;
}
#title:hover {
  transform: scale(1.2) rotate3d(-1, 1, 0, 25deg);
}
.container {
  width: 100%;
  text-align: center;
}
.prompt {
  margin: 100px 20px;
  text-align: left;
  font-weight: 400;
}
.promptBody {

}
.prompt h3 {
  font-weight: 500;
}
form {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
#primaryInput {
  border: solid 0.2px lightgray;
  border-radius: 8px;
  padding: 25px 40px;
  max-width: 90%;
  width: 400px;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 7px;
}
#primaryInput.highlight.success {
  animation: highlight-success 1s 1;
}
#primaryInput.highlight.error {
  animation: highlight-error 1s 1;
}

@keyframes highlight-success {
  0% {
    box-shadow: 0 0 0 rgb(12, 255, 12);
  }
  25% {
      box-shadow: 0 0 10px 0px rgb(12, 255, 12);
  }
  100% {
    box-shadow: 0 0 0 0 rgb(12, 255, 12);
  }
}
@keyframes highlight-error {
  0% {
    box-shadow: 0 0 0 red;
  }
  25% {
      box-shadow: 0 0 10px 0px red;
  }
  100% {
    box-shadow: 0 0 0 0 red;
  }
}

.winContainer {
  margin-top: 100px;
  text-align: center;
}
.winPrompt {
  margin-top: 100px;
  text-transform: capitalize;
}
#players {
  position: fixed;
  top: 15px;
  right: 10px;
  resize: none;
  border: solid 0.2px lightgray;
  border-radius: 8px;
  padding: 5px 10px;
  max-width: 90%;
  width: 200px;
  outline: none;
  text-transform: uppercase;
  font-size: 11px;
}