@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.App {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font: 400 16px 'Playfair Display', sans-serif;
  letter-spacing: 5px;
}
.container {
  height: 100%;
}

.App .header {
  position: fixed;
  left: 25px;
  top: 25px;
  font-size: 16px;
  letter-spacing: 0;
  text-align: left;
  letter-spacing: 20px;
  padding: 10px 10px;
  color: #ffc264; 
}

.prompt {
  font-size: 16px;
  /* text-transform: uppercase; */
  /* font-weight: 300; */
  max-width: 70%;
  margin: auto;
  margin-top: 100px;
  position: relative;
  z-index: 2;
  /* color: white; */
  box-shadow: 0 0 4px 2px rgb(239, 239, 239);
  padding: 20px 30px;
  border-radius: 4px;
  letter-spacing: 1px;
  text-align: left;
  transition: all 0.2s ease-in-out;
}
.prompt:hover {
  color: white;
  background-color: #0024E1;
}
.promptBody {
  letter-spacing: 1px;
  margin: 20px auto 0;
  font-size: 15px;
  position: relative;
  z-index: 2;
  max-width: 70%;
}

.App input {
  padding: 40px 25px;
  /* color: white; */
  background: #badcff;
  border: none;
  /* border-bottom: solid 2px #0024E1; */
  border-radius: 4px;  
  text-align: center;
  letter-spacing: 10px;
  min-width: 400px;
  text-transform: uppercase;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}
.App input:focus {
  outline: none;
}

.App input::placeholder {
  /* color: ; */
}

.background {
  position: fixed;
  width: 200%;
  height: 120%;
  left: -25%;
  top: 0;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
  transform: translate(0, 0);
  transition: transform 5s ease;
}
.square {
  position: absolute;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.square:hover {
  background: #20FF3F;
}

.winPrompt {
  line-height: 3;
  height: 100%;
  padding-top: 250px;
}

@media (max-width: 650px) {
  .App {
    font-size: 12px;
  }
  .App .header {
    font-size: 75px;
    margin: 0 10px 50px;
  }
  .App .prompt {
    font-size: 18px;
  }
  .App input {
    min-width: unset;
    width: 100%;
    margin: 0;
  }
}

#attribution {
  position: fixed;
  z-index: 9;
  right: 10px;
  top: 10px;
  text-decoration: none;
  letter-spacing: 2px;
  color: #0024E1;
  font-size: 12px;
  font-family: monospace, sans-serif;
}
#attribution:hover {
  text-decoration: underline;
}